div#deck-tracker
  select.zone-selector(ng-model="selectedZone")
    option(value="deck") In Deck
    option(value="hand") In Hand
    option(value="play") In Play
    option(value="grave") Graveyard
  div.versus
    button.btn.btn-success(ng-click="selectedTeam = 'friendly'", ng-class="{ selected: selectedTeam === 'friendly'}") {{friendlyName}}
    span.vs vs
    button.btn.btn-danger(ng-click="selectedTeam = 'opposing'", ng-class="{ selected: selectedTeam === 'opposing'}") {{opposingName}}
  div.zones
    div.deck(ng-show="selectedZone === 'deck'")
      ul.friendly-list(ng-show="selectedTeam === 'friendly'")
        li(ng-repeat="card in friendlyDeckZone | cardSort")
          div.thumbnail-overlay(ng-show="card.count === 0")
          div(
            card-thumbnail,
            card-id="{{card.id}}",
            card-count="{{card.count}}"
          )
      ul.opposing-list(ng-show="selectedTeam === 'opposing'")
        li(ng-repeat="card in opposingDeckZone | cardSort")
          div(
            card-thumbnail,
            card-id="{{card.id}}",
            card-count="{{card.count}}"
          )
    div.hand(ng-show="selectedZone === 'hand'")
      ul.friendly-list(ng-show="selectedTeam === 'friendly'")
        li(ng-repeat="card in friendlyHandZone | cardSort")
          div(
            card-thumbnail,
            card-id="{{card.id}}",
            card-count="{{card.count}}"
          )
      ul.opposing-list(ng-show="selectedTeam === 'opposing'")
        li(ng-repeat="card in opposingHandZone | cardSort")
          div(
            card-thumbnail,
            card-id="{{card.id}}",
            card-count="{{card.count}}"
          )
    div.play(ng-show="selectedZone === 'play'")
      ul.friendly-list(ng-show="selectedTeam === 'friendly'")
        li(ng-repeat="card in friendlyPlayZone | cardSort")
          div(
            card-thumbnail,
            card-id="{{card.id}}",
            data-card-count="{{card.count}}"
          )
      ul.opposing-list(data-ng-show="selectedTeam === 'opposing'")
        li(data-ng-repeat="card in opposingPlayZone | cardSort")
          div(
            data-card-thumbnail,
            data-card-id="{{card.id}}",
            data-card-count="{{card.count}}"
          )
    div.grave(data-ng-show="selectedZone === 'grave'")
      ul.friendly-list(data-ng-show="selectedTeam === 'friendly'")
        li(data-ng-repeat="card in friendlyGraveyardZone | cardSort")
          div(
            data-card-thumbnail,
            data-card-id="{{card.id}}",
            data-card-count="{{card.count}}"
          )
      ul.opposing-list(data-ng-show="selectedTeam === 'opposing'")
        li(data-ng-repeat="card in opposingGraveyardZone | cardSort")
          div(
            data-card-thumbnail,
            data-card-id="{{card.id}}",
            data-card-count="{{card.count}}"
          )
  button.btn.btn-info(data-ng-click="done()") Done
