div.deck-cover(data-ng-class="{ interactive: interactive }")
  div.controls
    span.delete-deck.glyphicon.glyphicon-remove(
      data-ng-click="go('/deck-builder/delete/' + deckFile, 'Are you sure you want to delete your ' + deckName + ' ' + deckClass + ' deck?'); $event.stopPropagation();",
      title="Delete {{deckName}} Deck"
    )
    span.edit-deck.glyphicon.glyphicon-edit(
      data-ng-click="go('/deck-builder/edit/' + deckFile); $event.stopPropagation();",
      title="Edit {{deckName}} Deck"
    )
  img.cover(
    data-ng-src="./imgs/deck-covers/{{deckClass}}-deck.png",
    data-ng-class="{ interactive: interactive }"
  )
  span.name {{deckName}}
