doctype html
html(data-ng-app="app")
  head
    title {{ title || 'Hearthtunnel Deck Tracker' }}
    link(href=resolvePath("/lib/animate.css/animate.css"), rel="stylesheet")
    link(href=resolvePath("/lib/bootstrap/dist/css/bootstrap-theme.css"), rel="stylesheet")
    link(href=resolvePath("/lib/bootstrap/dist/css/bootstrap.css"), rel="stylesheet")
    link(href=resolvePath("/css/app.css"), rel="stylesheet")
    script(src=resolvePath("/lib/socket.io-client/socket.io.js"))
    script(src=resolvePath("/lib/jquery/dist/jquery.js"))
    script(src=resolvePath("/lib/typeahead.js/dist/typeahead.bundle.js"))
    script(src=resolvePath("/lib/angular/angular.js"))
    script(src=resolvePath("/lib/angular-route/angular-route.js"))
    script(src=resolvePath("/lib/angular-animate/angular-animate.js"))
    if (config.env === "development")
      script(src="http://localhost:35729/livereload.js")
    script(src=resolvePath("/js/app.js"))
    script(src=resolvePath("/js/filters/card-sort.js"))
    script(src=resolvePath("/js/filters/collectible.js"))
    script(src=resolvePath("/js/services/cards.js"))
    script(src=resolvePath("/js/services/socket-client.js"))
    script(src=resolvePath("/js/services/utils.js"))
    script(src=resolvePath("/js/directives/card-thumbnail.js"))
    script(src=resolvePath("/js/directives/deck-cover.js"))
    script(src=resolvePath("/js/directives/typeahead.js"))
    script(src=resolvePath("/js/controllers/confirm.js"))
    script(src=resolvePath("/js/controllers/deck-builder.js"))
    script(src=resolvePath("/js/controllers/deck-tracker.js"))
    script(src=resolvePath("/js/controllers/decks.js"))
    script(src=resolvePath("/js/controllers/main.js"))
    script(src=resolvePath("/js/controllers/new-deck.js"))
    script.
      var config = !{JSON.stringify(config)};
      var resolvePath = function (path) {
        switch (config.target) {
          case 'nw':
            return '.' + path;
          default:
            return path;
        }
      };
      if (config.target === 'nw') {
        // Start the socket server.
        require('./js/socket-server.js');

        var gui = require('nw.gui');
        var mainWindow = gui.Window.get();

        // Weird hack to fix copy/paste shortcuts on OS X.
        if (process.platform === "darwin") {
          var mb = new gui.Menu({type: 'menubar'});
          mb.createMacBuiltin('RoboPaint', {
            hideEdit: false,
          });
          mainWindow.menu = mb;
        }

        angular.module('app').run(function ($rootScope) {
          $rootScope.$watch('title', function (title) {
            mainWindow.title = title;
          });
          $rootScope.devTools = function (event) {
            if (!event.ctrlKey || event.keyCode !== 68) {
              return;
            }
            if (!mainWindow.isDevToolsOpen()) {
              mainWindow.showDevTools();
            } else {
              mainWindow.closeDevTools();
            }
          };
        });
      }
  body(ng-controller="main", ng-keydown="devTools($event)")
    div.content(ng-view)
    div#spinner(ng-show="loading === true")
      div#overlay
      img(src=resolvePath("/imgs/spinner.gif"))
